
.ExpandContainer {
  position: absolute;
  z-index: 2;
  top: 110px;
  right: 0;
}

.Expand {  
  background: #fff;
  border-radius: 18%;
  margin-right: 10px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.Expand > button {
  height: 29px;
  width: 29px;
  background-color: #fff;
  transition: none;
  box-shadow: none;
}

.Expand:hover button {
  background-color: rgba(0,0,0,.05);
  border-radius: 18%;
  transition: none;
}

.Disclaimer{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #fff5;
}

.Container {
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
	height: 50vh;
	min-height: 800px;
}

.Container_fluid {
	width: 100vw !important;
	height: 100vh !important;
}

@media screen and (min-width: 1480px) {
	.Container,
	.Container_fluid {
		width: 1384px;
		padding-right: 0;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1479px) and (min-width: 1280px) {
	.Container,
	.Container_fluid {
		width: calc(100vw - 96px);
	}
}

@media screen and (max-width: 1279px) and (min-width: 960px) {
	.Container,
	.Container_fluid {
		width: calc(100vw - 96px);
	}
}

@media screen and (max-width: 959px) and (min-width: 730px) {
	.Container,
	.Container_fluid {
		width: calc(100vw - 80px);
	}
}

@media screen and (max-width: 729px) {
	.Container,
	.Container_fluid {
		width: calc(100vw - 48px);
	}
}