.Wrapper {
  width: 100vw;
  height: 190px;
  padding: 10px  20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0deg, rgba(54,54,54,1) 10%, rgba(54,54,54, .8) 50%, rgba(54,54,54, .4) 75%, rgba(54,54,54, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.Wrapper > span {
  margin-top: 40px;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: white;
}

.CountryWrapper {
  display: flex;
  width: 100%;
  flex-flow: column;
  color: white;
  
}

.CountryWrapper span {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.CountryLegendWrapper {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
}

.CountryLegendItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-right: 20px;  
}

.Legend{
  height: 12px;
  width: 12px;
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}