.Wrapper {
  width: 100vw;
  height: 200px;
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0deg, rgba(54,54,54,1) 10%, rgba(54,54,54, .8) 50%, rgba(54,54,54, .4) 75%, rgba(54,54,54, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.hide {
  display: none;
}

.Wrapper > span {
  margin-top: 40px;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: white;
}

.CountryWrapper {
  display: flex;
  width: 100%;
  flex-flow: column;
  color: white;
}

.CountryWrapper span {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.CountryLegendWrapper {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
}

.CountryLegendItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 4px 5px 4px 9px;
  margin-right: 10px;  
  border-radius: 15px;
  cursor: pointer;
  background: rgba(43,43,43,.95) !important;
}

.CountryLegendItem:last-child {
  margin: 0;
}

.Legend{
  height: 12px;
  width: 12px;
  margin-left: 10px;
  border-radius: 50%;
  display: block;
}

.Close{
  width: 12px !important;
  height: 12px !important;
  margin-left: 10px;
  border-radius: 50%;
  background: none;
  display: none;
}

.Close:hover {
  background: none;
}

.Close > svg {
  display: block;
  fill: none;
}

.CountryLegendItem:hover .Legend {
  display: none;
}

.CountryLegendItem:hover .Close {
  display: block;
}