.Help{
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    top: 280px;
    margin-left: 20px;
}

.Help > svg {
    height: 100%;
    margin-top: 0;
}

/* #454545 */

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    height: 2rem;
    text-align: left;
    padding: 5px;
}

td {
    border-bottom: .5px solid #ccc;
}

th {
    font-size: 1.45rem;
    padding-bottom: 7px;
    border-bottom: 4px solid #ccc;
}

.Test{ 
    background: transparent !important;
    box-shadow: none;
    bottom: 100px;
}