.ButtonWrapper {
    position: absolute;
    margin-left: 20px;
    display: flex;
    top: 410px;
}

.Help,
.Download {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.Help > svg,
.Download > svg {
    height: 100%;
    margin-top: 0;
}

.DownloadContainer {
    display: flex;
    position: relative;
}

.DownloadButton {
    margin-right: 10px;
}

.DownloadButton:hover + .DownloadWrapper{
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.DownloadWrapper {
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding: 0 20px;
    align-items: center;
    background: #fff;
    transition: 0.3s;
}

.DownloadWrapper:before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 7px solid #fff;
    left: 39px;
}

.DownloadWrapper {
    text-decoration: none;
    font-size: .8rem;
    color: #000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    height: 2rem;
    text-align: left;
    padding: 5px;
}

td {
    border-bottom: .5px solid #ccc;
}

th {
    font-size: 1.45rem;
    padding-bottom: 7px;
    border-bottom: 4px solid #ccc;
}

.Test{ 
    background: transparent !important;
    box-shadow: none;
    bottom: 100px;
}
