.LegendWrapper {
  margin-bottom: 16px;
  min-width: 200px;
  width: 100%;
}

.LegendItem__Category {
  font-size: 0.8rem;
  cursor: pointer;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.LegendItem__Category:hover .Label_Category {
  text-decoration: underline;
}

.Header {
  font-weight: 600;
  font-size: 1rem !important;
  margin: 0 0 3px 0;
}

.active {
  opacity: 0.5;
}

.LegendItem__Continuous {
  width: 100%;
}

.Marker__Continuous {
  border: .5px solid black;
  height: 10px;
  width: 100%;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,27,121,1) 98%, rgba(0,212,255,1) 100%); */
}

.Label__Continuous {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  font-size: .8rem;
}

.Markers {
  width: 14px;
  height: 14px;
  border: .5px solid black;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SymbolRound {
  width: 9px;
  height: 9px;
  border-radius: 15px; 
  margin: 0px;
  background: white;
}

.Round {
  border-radius: 25px; 
}

.Stripe {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  ) !important;
}