.Toggle {
  width: 100%;
}

.CheckToggleOptions,
.RadioToggleOptions {
  display: flex;
  position: relative;
}

.CheckToggleOptions.column > button {
  margin-bottom: 7px;
}

.CheckToggleOptions.column > button:last-child {
  margin-bottom: 0px;
}

.CheckToggleOptions.row > button {
  margin-right: 7px;
}

.CheckToggleOptions.row > button:last-child {
  margin-right: 0px;
}

.row > .ToggleOption:not(:first-child) {
  margin-left: -1px;
}

.column > .ToggleOption:not(:first-child) {
  margin-top: -1px;
}

.row {
  flex-flow: row;
}

.column {
  flex-flow: column;
}

.CheckToggleOptions > button,
.RadioToggleOptions > button {
  flex: 1;
  box-sizing: border-box;
  cursor: pointer;
  padding:10px 14px;
  margin: 0;
  font-size: 0.9rem;
  color: rgba(0,0,0,0.6);
  /* background: rgba(255,255,255,0.7); */
  background: #e6e6e6;
  transition: color .2s linear;
}

button:hover {
  color: #000;
  transition: color .2s linear;
}

.dark {
  color: rgba(255,255,255,0.7) !important;
  background: #3f3f3f !important;
}

.dark:hover {
  color: #fff !important;
  transition: color .2s linear;
}

.active {
  color: #000;
  background:#949494;
}

.active.dark {
  color: #fff !important;
  background: #1f1f1f !important;
}

.disabled {
  color: rgba(0,0,0,0.2);
  cursor: default;
}

.disabled:hover {
  color: rgba(0,0,0,0.2);
}