/* .Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: auto;
    padding: 20px;
    display:flex;
    font-weight: bold;
}

.Success {
    color: #04f;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Danger {
    color: #944317;
} */

.ButtonWrapper {
    /* display: flex; */    
}

.Selected {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
}