.ControlWrapper {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 300px;
  background: white;
  margin: 20px 20px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.ControlWrapper h1 {
  margin: 0;
  color: #525252;
}

.ControlWrapper ul {
  display: flex;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.Slider {
  margin-bottom: 30px;
}

.SliderType {
  text-align: center;
}

.ControlWrapper li {
  width: 100%;
  cursor: pointer;
  padding: 7px;
  font-weight: 800;
  box-sizing:border-box;
}

.Select {
  margin-bottom: 20px;
}

.Options {
  background: #e3e3e3;
  color: #525252;
}

.selected {
  background: #525252;
  color: #e3e3e3;
}

.Indicator {
  flex-flow: column;
  margin: 0 !important;
}