.ControlsWrapper {
  transition: transform .2s linear;
}

.ControlToggleWrapper {
  display: none;
}

@media screen and (max-width: 729px) {

  .ControlsWrapper {
    position: fixed;
    width: inherit;
    max-height: 50%;
    height: 350px;
    z-index: 10;
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background: #fff;
  }

  .ControlToggleWrapper {
    display: block;
    position: absolute;
    top: -55px;
  }

  .ControlToggleContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  
  .ControlsContainer {
    height: 100%;
    padding: 25px 0;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .Controls {
    width: calc(65vw + 50px);
    margin: auto;
    box-sizing: border-box;
  }

  .open {
    transform: translate3d(0,-100%,0);
    transition: transform .2s linear;
  }

  /* .dark {
    color: #fff !important;
    background: rgba(37,37,37,0.97);
  } */

  /* .ControlsWrapper.dark > .Wrapper {
    border-bottom: 1px solid #fff !important;
  } */

  /* .Wrapper {
    border-bottom: 1px solid #000;
    display: block;
  } */
}

.ButtonWrapper {
  position: absolute;
  margin-left: 20px;
  display: flex;
  top: 410px;
}

.Help,
.Download {
  border-radius: 50%;
  cursor: pointer;
}

.Help > svg,
.Download > svg {
  height: 100%;
  margin-top: 0;
}

.DownloadWrapper {
  display: flex;
  position: relative;
}

.DownloadButton {
  margin-right: 10px;
}

.DownloadButton:hover + .DownloadContainer{
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.DownloadContainer {
  position: absolute;
  bottom: 125%;
  left: 50%;
  width: 220px;
  margin-left: -130px;
  visibility: hidden;
  opacity: 0;
  padding: 8px 20px;
  text-align: center;
  color: #000;
  background: #fff;
  transition: 0.3s;
}

.DownloadContainer:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.DownloadContainer {
  text-decoration: none;
  font-size: .8rem;
}