.ControlWrapper {
  position: absolute;
  display: flex;
  background: rgba(255,255,255,0.8);
  padding: 10px 14px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  box-sizing: border-box;
}

.dark{
  background: rgba(27,27,27,0.8) !important;
  color: white !important;
}