/* .ControlWrapper {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0 20px;
  z-index: 2;
  bottom:0;
  right: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  background: #fff;
  box-sizing: border-box;
} */


.ControlWrapper {
  position: fixed;
  display: flex;
  width: 100%;
  background: #fff;
  bottom:0;
  padding: 15px 40px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  box-sizing: border-box;
  /* background: linear-gradient(rgba(255,255,255,.8) 0%, rgba(255,255,255, 1) 15% ); */
}
