.Dropdown {
  /* min-width: 200px; */
  /* padding: 12px 20px; */
  padding: 6px 12px;
}

.DropdownOptions {
  display: block;
  position: absolute;
  /* bottom: 0; */
  left: 0;
  min-height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 50px rgba(0,0,0,.15);
  pointer-events: none;
}

.DropdownOptions.active {
  transition: opacity .2s linear;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.DropdownOptions > div {
  overflow-y: scroll;
  max-height: 248px;
}

.DropdownOptions ul {
  display: block;
  padding: 12px;
  margin: 0;
}

.DropdownOptions ul li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}

.DropdownOptions ul li > button{
  cursor: pointer;
  width: 100%;
  font-weight: normal;
  font-size: 0.8rem;
  background: transparent;
  box-sizing:border-box;
  padding: 7px;
  text-align: left;
  display: block;
}

.Options:hover {
  background: #e6e6e6;
}

.Dropdown span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}