.Dropdown {
  padding: 9px 18px;
}

.Dropdown > button {
  width: 100%;
}

.Dropdown button > span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Dropdown:hover .Icon > div {
  background: #ebebeb1d;
  transition: background .2s linear;
}

.Dropdown .Icon > div{
  box-shadow: none !important;
  height: 100%;
  width: 100%;
}

.DropdownOptions {
  display: block;
  position: absolute;
  visibility: hidden;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  pointer-events: none;
}

.DropdownOptions > div {
  max-height: 248px;
  overflow-y: scroll;
}

.DropdownOptions.active {
  transition: opacity .2s linear;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.Icon {
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  margin-top: -11px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 8px;
  transition: background .2s linear;
}

.Icon > svg {
  width: 80%;
}

.dark {
  fill: #fff;
}

.DropdownOptions ul {
  margin: 0;
  padding: 12px;
  list-style: none;
  
}

.DropdownOptions ul li {
  width: 100%;
  color: #000;
  font-weight: normal;
  font-size: .8rem;
  background: transparent;
  padding: 0;
  text-align: left;
}

.OptionItem {
  padding: 8px;
  box-sizing: border-box;
}

.OptionItem:hover {
  background: #e6e6e6;
}

.DropdownOptions ul li svg {
  width: 10px;
  height: 10px;
}

.DropdownOptions ul li svg div{
  width: unset !important;
  height: unset !important;
}

.NestedGroupTitle{
  display: flex;
  flex-flow: row;
  padding: 14px 8px 4px 8px;
  color: grey;
  font-size: .7rem;
  justify-content: space-between;
  align-items: center;
}

.NestedOptions {
  cursor: pointer;
}

.NestedList { 
  padding: 0!important;
}

