.ControlContainer {
  position: relative;
}

.ControlContainer:not(:first-child) {
  margin-left: -1px;
}

.ControlLabel,
.RadioToggleLabel {
  display: flex;
  line-height: 1.25rem;
  font-size: .7rem;
}

.ControlContainer > button {
  padding: 4px 20px 0 0;
  /* font-size: 1.25rem; */
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: none;
  text-align:left;
  /* display: block; */
  /* width: 200px; */
}

.ControlContainer.dark > button {
  color: #fff !important;
}

.ControlContainer > button:before {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: border .2s linear;
  border: 1px solid #e6e6e6;
  content: "";
}

.ControlContainer > button:hover:before {
  z-index:1;
  border-color: #949494;
}

.Slider {
  margin-bottom: 30px;
}

.SliderType {
  text-align: center;
}

.Select {
  margin-bottom: 20px;
}

.Options {
  background: #e3e3e3;
  color: #525252;
}

.selected {
  background: #525252;
  color: #e3e3e3;
}

.Indicator {
  flex-flow: column;
  margin: 0 !important;
}

.ControlDivider:before {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  height:1px;
  content: ""  
}
