.Slider {
    position: relative;
    width: 400px;
    padding: 12px 20px;
    margin-left: -1px;
}

.Slider:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: border .2s linear;
    border: 1px solid #e6e6e6;
    content: "";
}

.SliderLabel {
    display: flex;
    justify-content: space-between;
}

.SliderLabel > span {
    font-weight: bold;
}


.RailStyle {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #bababa;
    /* margin-top: 16px; */
    /* border-radius: 7px; */
}


.SliderContainer {  
    display: flex;
    flex-flow: column;
}

.SliderContainer span {
    font-size: 2rem;
    margin-bottom: 15px;
}