.Button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: transparent;
  background-color: rgba(0,0,0,.2);
  transition: background .19s linear;
  border-radius: 50%;
  margin-right: 10px;
}

.Button:last-child {
  margin: 0;
}

.dark {
  background: hsla(0,0%,100%,.05);
}

.Button > svg {
  height: 17px;
  margin-top: 3px;
}

.Button:hover {
  transition: background .19s linear;
  background-color: rgba(0,0,0,.15);
  border-radius: 50%;
}

.dark:hover {
  background: hsla(0,0%,100%,.15);
}