.Bar {
  font-size: .7rem;
  margin-top: 10px;
}

.BarLabel {
  display: flex;
  justify-content: space-between;
}

.BarLabel > p {
  width: 85%;
}

.Bar_Wrapper {
  height: 10px;
  margin-top: 3px;
  width: inherit;
  position: relative;  
  border: 1px solid;
}

.Bar_Percentage {
  position: absolute;
  height:100%;
}

