.Legend > div {
  background: transparent !important;
  box-shadow: none !important;
}

.Help {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px !important;
}

.Help > svg{
    height: 100%;
    margin-top: 0;
}

.ContentSection > h3 {
  font-size: 2rem;
}

.ContentSection {
  margin-bottom: 50px;
}

.Content {
  padding-left: 20px;
}

.Content > p {
  line-height: 1.5rem;
  font-size: 1rem;
}

.Table {
  margin-bottom: 20px;
}

.Table > h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.TableHeader th {
  text-align: left !important;
  padding-top: 5px;
}

.Table td {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}

.Table td:first-child{
  width: 30%;
}