body {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  padding: 0;
  font-weight: 600;
}

button:focus {
  outline: none;
}

p {
  margin: 0;
}

.Intro {
    margin: 30px;
    display: flex;
    flex-flow: column;
}

.Intro h1 {
    color: #04f;
    font-weight: bold;
    letter-spacing: -.05em;
}

.Intro a {
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
}

.Intro a:hover {
    text-decoration: underline;
}

.dropdown {
	position: relative;
	padding:12px 20px;
	border: 1px solid black;
	width: 100px;

}

.test button {
	display: block;
}

.options {
	visibility: hidden;
	display: block;
	position: absolute;
	top:0;
	left:0;
	min-height: 100%;
	width: 100%;
	left: 100%;
}

.open {
	display: block;
	visibility: visible;
}

.options > div {
	overflow-y: scroll;
	max-height: 248px;
	background: grey;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	padding: 20px;
	margin: 0;
}

.trigger {
	float: right;
}

.trigger:hover .tooltip {
	display: block;
}

.tooltip {
	display: none;
	position: absolute;
	min-width: 170px;
	background: lightgreen;
	border: 1px solid #000;
}

.tooltip-content {
	position: relative;
	width: 100%;
}

.weather .mapboxgl-popup-content {
	width: 100% !important;
	padding: 10px !important;
}
