.Intro {
    margin: 30px;
    display: flex;
    flex-flow: column;
    font-family: 'Open Sans';
}

.Intro h1 {
    color: #04f;
    font-weight: bold;
    letter-spacing: -.05em;
}

.Intro a {
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
}

.Intro a:hover {
    text-decoration: underline;
}

