@font-face {
  font-family: 'Graphik';
  src: local('Graphik'), url('./fonts/Graphik-Bold.otf'), format('otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Graphik';
  src: local('Graphik'), url('./fonts/Graphik-Regular.otf'), format('otf');
}

body {
  font-family: 'Graphik';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  padding: 0;
  font-weight: bold;
}

button:focus {
  outline: none;
}

.map {
  /* position: absolute !important; */
  width: 100%;
  height: 100vh;
}

p {
  margin: 0;
}

.borderpoint .mapboxgl-popup-content {
  background-color: rgba(255,255,0) !important;
}

.borderpoint.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(255,255,0) !important;
}

.borderpoint.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(255,255,0) !important;
}

.borderpoint.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(255,255,0) !important;
}

