@font-face {
  font-family: 'Graphik';
  src: local('Graphik'), url('./fonts/Graphik-Regular.otf'), format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik';
  src: local('Graphik-Medium'), url('./fonts/Graphik-Bold.otf'), format('opentype');
  font-weight: 600;
}

body {
  font-family: 'Graphik';
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Graphik';
  border: none;
  padding: 0;
  font-weight: 600;
}

button:focus {
  outline: none;
}

p {
  margin: 0;
}

.borderpoint .mapboxgl-popup-content {
  background-color: rgba(255,255,0) !important;
}

.borderpoint.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(255,255,0) !important;
}

.borderpoint.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(255,255,0) !important;
}

.borderpoint.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(255,255,0) !important;
}

