.ButtonWrapper {
  width: 100%;
}

.Buttons {
  display: flex;
  position: relative;
}

.row > .ButtonOption:not(:first-child) {
  margin-left: -1px;
}

.column > .ButtonOption:not(:first-child) {
  margin-top: -1px;
}

.row {
  flex-flow: row;
}

.column {
  flex-flow: column;
}

.Buttons > button {
  flex: 1;
  box-sizing: border-box;
  cursor: pointer;
  padding:10px 14px;
  margin: 0;
  font-size: 0.9rem;
  color: rgba(0,0,0,0.6);
  background: #e6e6e6;
  transition: color .2s linear;
}

.Buttons > button:hover {
  color: #000;
  transition: color .2s linear;
}

.dark {
  color: rgba(255,255,255,0.7) !important;
  background: #3f3f3f !important;
}

.dark:hover {
  color: #fff !important;
  transition: color .2s linear;
}

.active {
  color: #000 !important;
  background:#949494 !important;
}

.active.dark {
  color: #fff !important;
  background: #1f1f1f !important;
}

.disabled {
  color: rgba(0,0,0,0.2) !important;
  cursor: default !important;
}

.disabled:hover {
  color: rgba(0,0,0,0.2) !important;
}