.ControlWrapper {
  display: flex;
  flex-flow: column;
  z-index: 2;
  box-sizing: border-box;
  background: transparent;
  box-shadow: none;
}

.ControlContainer {
  padding: 14px 16px;
  max-width: 290px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.ControlContainer > div:not(:last-child) {
  margin-bottom: 14px;
}

.bottomLeft,
.bottomRight,
.topLeft,
.topRight {
  position: absolute;
}

.topLeft { 
  top:0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.bottomLeft { 
  bottom:0;
  left: 0;
  margin-bottom: 40px;
  margin-left: 20px;
}

.topRight { 
  top:0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.bottomRight { 
  bottom:0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 20px;
}

@media screen and (max-width: 729px) {
	.ControlWrapper {
    position: relative;
    background: transparent !important;
    box-shadow: none;
    margin: auto;
    padding: unset !important;
    width: unset !important;
    bottom: unset !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
  }

  .ControlContainer {
    max-width: 100%;
    background: none !important;
    box-shadow: none !important;
  }
}