.DropdownWrapper {
  position: relative;
  padding: 9px 18px;
}

.DropdownWrapper > button {
  width: 100%;
  padding: 4px 20px 0 0;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: none;
  text-align:left;
}

.DropdownWrapper button > span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.DropdownWrapper:not(:first-child) {
  margin-left: -1px;
}

.DropdownWrapper > button:before {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: border .2s linear;
  border: 1px solid #e6e6e6;
  content: "";
}

.DropdownWrapper > button:hover:before {
  z-index:1;
  border-color:#949494;
}

.DropdownWrapper.dark > button:before {
  border-color: #949494;
}

.DropdownWrapper.dark > button:hover:before {
  border-color: #fff; 
}

.DropdownLabel {
  display: flex;
  line-height: 1.25rem;
  font-size: .8rem;
}

.DropdownWrapper:hover .Icon.dark > div {
  background: #ebebeb1d;
  transition: background .2s linear;
}

.DropdownWrapper:hover .Icon > div {
  background: #f3f3f3;
}

.DropdownWrapper .Icon > div {
  box-shadow: none !important;
  height: 100%;
  width: 100%;
}

.DropdownOptions {
  display: block;
  position: absolute;
  visibility: hidden;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  pointer-events: none;
}

.DropdownOptions > div {
  max-height: 248px;
  overflow-y: scroll;
}

.DropdownOptions.active {
  transition: opacity .2s linear;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.Icon {
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  margin-top: -11px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 8px;
  transition: all .2s linear;
}

.Icon > svg {
  width: 80%;
}

.DropdownOptions ul {
  margin: 0;
  padding: 12px;
  list-style: none;
  
}

.DropdownOptions ul li {
  width: 100%;
  font-weight: normal;
  font-size: .8rem;
  color: #000;
  background: transparent;
  text-align: left;
  padding: 0;
}

.OptionItem {
  padding: 8px;
  box-sizing: border-box;
}

.OptionItem:hover {
  background: #e6e6e6;
}

.DropdownOptions ul li svg {
  width: 10px;
  height: 10px;
}

.DropdownOptions ul li svg div{
  width: unset !important;
  height: unset !important;
}

.NestedGroupTitle{
  display: flex;
  flex-flow: row;
  padding: 14px 8px 4px 8px;
  color: grey;
  font-size: .7rem;
  justify-content: space-between;
  align-items: center;
}

.NestedOptions {
  cursor: pointer;
}

.NestedList { 
  padding: 0!important;
}

