.SliderContainer {  
    display: flex;
    flex-flow: column;
}

.SliderContainer span {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.SliderContainer input {
    -webkit-appearance: none;
    cursor: pointer;
    height: 8px;
    border-radius: 8px;
    width: 100%;
    background: #e6e6e6;
    outline: none;
}

